@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,400italic,300italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu%27);

/* ==========================================================================
Typography
========================================================================== */
.btn {
  font-size: 13px;
  font-weight:600;
  border-radius: 40px;
  display: inline-block;
  text-transform: uppercase;
  transition:.6s;
  background-color: #FFC107;
  color: white;
  }

.btn:hover, .btn:focus {
  padding: 20px 45px;
 }

@media screen and (max-width: 722px){
  .snr{
      padding-left:16px!important;
  }
  .snr h3{
    font-size:20px!important;
    line-height:22px;
  }
}

.btn-small {
  padding: 8px 40px; }

.btn-large {
  padding: 15px 40px; }

.btn-margin-right {
  margin-right: 20px; }

section.intro{
  background: #fafafa; }
section:not(.hero):not(.navigation){
  border-top: 1px solid #BDBDBD;
}
section.features, section.blog-intro, section.blog {
  background: white;
}
.blog-intro,footer .footer-links,.moreinfo{
    text-align: center;
}
.moreinfo{
  background: #fafafa;
}
/* ==========================================================================
Global Styles
========================================================================== */
.cpright{
  font-weight:600;
}
.group:after {
  content: "";
  display: table;
  clear: both; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

a {
  color: #607D8B;
  outline:0px!important;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color; }
@media screen and (max-width:905px){
  .wallets_card{
    width:100%!important;
  }
  #wallets .wallets_card{
    margin-left:0px!important;
  }
}
@media screen and (max-width:1100px){
  .tt{
    display:none;
  }
}
@media screen and (max-width:601px){

}
#wallets{
  background:white;
  margin-bottom:0px;
  padding-bottom:80px;
}
a:hover, a:focus {
  text-decoration: none; }
div.container{
width:100%;
}
.card-content p{
  color:white;
}
.card-title{
  color:white;
}
 .tabs-content.carousel .carousel-item { width: 100%; height: 100%; }
 .carousel {
   min-height:600px;
 }
body {
  font-family: 'Ubuntu', sans-serif!important;
  font-weight: 300;
  color: #212121;
  -webkit-text-size-adjust: 100%; }

ul, ol {
  margin: 0;
  padding: 0; }
.ex1,.ex2,.ex3,.ex4,.ex5,.ex6{
  visibility: hidden;
}
ul li {
  list-style: none; }

.section-padding {
  padding: 120px 0 !important; }

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0; }

.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9; }

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px; }

.tooltip.right {
  padding: 0 5px;
  margin-left: 3px; }

.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px; }

.tooltip.left {
  padding: 0 5px;
  margin-left: -3px; }

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #000;
  border-radius: 4px; }
/* ==========================================================================
Waypoinsts
========================================================================== */
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6, .wp7, .wp8, .wp9, .vishid {
  visibility: hidden; }

.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .bounceInDown, .slideInRight, .fadeIn {
  visibility: visible !important; }

/* ==========================================================================
Navigation
========================================================================== */
.header-nav.open {
  visibility: visible;
  opacity: 0.9;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s; }

.nav-toggle {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 999999;
  padding: 10px 35px 16px 0;
  cursor: pointer; }

.nav-toggle:focus {
  outline: none; }

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 3px;
  border-radius: 1px;
  background: #fff;
  cursor: pointer; }

.nav-toggle span:before {
  top: -10px; }

.nav-toggle span:after {
  bottom: -10px; }

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

.nav-toggle.active span {
  background-color: transparent; }

.nav-toggle.active span:before, .nav-toggle.active span:after {
  top: 0; }

.nav-toggle.active span:before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.nav-toggle.active span:after {
  top: 10px;
  -ms-transform: translatey(-10px) rotate(-45deg);
  -webkit-transform: translatey(-10px) rotate(-45deg);
  transform: translatey(-10px) rotate(-45deg); }

.navicon {
  position: absolute;
  height: 26px;
  right: 10px;
  top: 48px;
  visibility: hidden;
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out; }

.fc1:hover h5,.fc2:hover h5,.fc3:hover h5{
  transition: .8s;
}
.fc3:hover .fa, .fc2:hover .fa,.fc1:hover .fa{
color: rgb(255,215,64);
font-size:44px;
}
.fa{
  transition:.8s;
}
.fc1:hover .fa{
  transform: rotate(-5deg);
}
.fc2:hover .fa{
  transform: rotate(-5deg);
}
.fc3:hover .fa{
  transform: rotate(-5deg);
}
.feature-icon{
  transition: .8s;
}
.fc1,.fc2,.fc3{
  transition: .8s;
}
/* ==========================================================================
Hero
========================================================================== */
.hero {
  height: 750px;
  background: #FFC107;
  background-size: cover;
  position: relative; }
  @media screen and (max-width:850px){
    .hero{
      height: 750px;
      background: #607D8B /*url("../img/SHIELDmbg3.png") center center;*/
      background-size: cover;
      position: relative;
    }
  }
  @media screen and (max-width:480px){
    .hero{
      height: 750px;
      background:#607D8B /* url("../img/SHIELDmbgmobil2.png") center center*/;
      background-size: cover;
      position: relative;
    }
  }
  .hero{
    background:#607D8B /* url("../img/SHIELDmbg2.jpg") center center*/;
  }
  .hero .down-arrow a {
    color: #fff; }
  .hero h1 {
    color: #fff;
    margin-bottom: 40px; }
  .hero p.intro {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 80px; }
  .hero .hero-content {
    padding-top: 20%}

.navigation {
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 999; }

.fixed, .fixed2{
  position: fixed;
  background-color: #455A64;
  z-index: 999;
  width: 100%;
}
@media screen and (max-width:450px){
  header{
    padding: 5px 0!important;
  }
}
@media screen and (max-width:730px){
  header{
    padding: 10px 0!important;
  }
}
.navicon{
  top: calc(50% - 10px) !important;
  transition: .8s;
}

.techlist{
  text-align:left;
  color:white;
}
.linklist{
  text-align:right;
  color:white;
}
header {
  padding: 30px 0;
  position: relative;
  width: 1170px;
  margin: 0 auto;
  transition: .4s;
}
  header a {
    color: #fff;
    text-transform: uppercase;
    font-size: 11.5px;
    opacity: .6;
    transition: font-size 0.5s ease;
   }
    header a.login {
      margin-right: 20px; }
  header .logo {
    display: inline-block; }
  header ul.primary-nav {
    margin: 0 0 0 75px;
    padding: 0; }
    header ul.primary-nav li {
      display: inline; }
      header ul.primary-nav li a {
        color: #fff;
        padding-right: 25px;
        position: relative;
        font-weight: 600;
       }
        header ul.primary-nav li a:hover {
          opacity: 1; }
      header ul.primary-nav li:last-child a {
        padding-right: 0px; }
  header ul.member-actions li {
    display: inline; }
    header ul.member-actions li a {
      color: #fff; }
      header ul.member-actions li a:hover {
        opacity: 1;}
  header .header-nav {
    display: inline-block; }
  header .member-actions {
    position: absolute;
    right: 0;
    top: 41px;
    -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out; }

.down-arrow {
  color: #fff;
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

/* ==========================================================================
Intro
========================================================================== */
.intro span.icon {
  font-size: 40px;
  color: #212121;
  font-weight: bold;
  transition: .9s;
  }

.intro-icon {
  display: inline-block;
  vertical-align: top;
  padding: 22px 0 0 0;
  margin-right: 20px;
  width: 40px;
  transition: 1s;
}
.intro-feature:hover .icon{
  color:#455A64 !important;
  font-size: 50px;
}
.intro-feature:hover .intro-icon{
     transform: rotate(360deg);
}
.intro-content {
  display: inline-block;
  width: 80%; }

/* ==========================================================================
Features-stack
========================================================================== */
.features {
  position: relative;}
  .features p {
    margin-bottom: 0;
    padding-bottom: 0; }
  .features h3 {
    margin: 0 0 20px 0; }
  .features span.icon {
    font-size: 35px;
    color: white !important;
    font-weight: bold; }
  .features .feature-icon {
    display: inline-block;
    vertical-align: top;
    padding: 15px 0 0 0;
    margin-right: 20px;
    width: 35px; }
  .features .feature-content {
    display: inline-block;
    width: 75%; }
  .features .intro-icon {
    display: inline-block;
    vertical-align: top;
    padding: 15px 0 0 0;
    margin-right: 20px; }
  .features .intro-content {
    display: inline-block;
    width: 80%; }
  .features ul.features-stack {
    margin-top: 50px; }
  .features ul.features-stack li {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #E6E9EA; }
  .features ul.features-stack li:last-child {
    padding-bottom: 0px;
    border-bottom: none; }
  .features .iphone-wrap {
    width: 350px;
    background: url("../img/SHIELDconnect.png") no-repeat center center;
    position: absolute;
    left: 530px;
    bottom: 150px;
    z-index: 2; }
  .features .device-showcase {
    position: absolute;
    bottom: 0px;
    right: 61%; }

.features .responsive-feature-img, .features-extra .responsive-feature-img {
  display: none; }

.devices {
  position: relative; }
.earthimg{
  width: 635px;left: 200px;height: auto;
}
#features{
  background: #607D8B;
  color: white !important;
}
#features .iphone-wrap{
  bottom:350px;left: 60%;
}
#features .responsive-feature-img{
  width:115%
  ;top:10px;
  position:relative;
}
.ow{
  margin-bottom:25px;margin-top:-15px;
}
.bs{
  margin-top:-15px;
}
#techinfo .leftcol h3, #techinfo .leftcol  h5{
  color:white;
  text-align:left;
}
#techinfo .rightcol h3{
  color:white;
  text-align:right;
}
#techinfo .rightcol h5{
  color:lightblue;
  text-align:right;
}
.shlogogum{
  width:24px;
  height:24px;
}
.bi{
  display:inline-block;
}
/* ==========================================================================
.features-extra
========================================================================== */
.features-extra {
  position: relative;
  z-index: 3; }
  .features-extra .btn {
    margin-top: 20px; }
  .features-extra .macbook-wrap {
    position: absolute;
    width: 922px;
    height: 537px;
    background: url("../img/shield_logos_orange.png") no-repeat center center;
    top: 114px;
    z-index: 4;
    left: 50%;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);
}
/* ==========================================================================
.hero-strip
========================================================================== */
#exchanges{
  text-align: center;
  background: white;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
  color:#FFC107!important;
  font-weight:600;
}
.hero-strip {
  background: #fafafa;
  padding-bottom: 190px;
  position: relative; }

/* ==========================================================================
Footer
========================================================================== */
footer {
  background-color: #607D8B;
  position: relative;}
  footer p {
    color: #212121;
    margin: 0px;
    font-size: 13px; }
  footer ul.footer-group {
    padding-top: 25px;
    margin-bottom: 45px; }
  footer ul.footer-group li {
    display: inline-block; }
  footer ul.footer-group li a {
    font-size: 13px;
    text-transform: uppercase; }
  footer ul.footer-group li {
    margin-right: 30px; }
  footer ul.footer-group li:last-child {
    margin-right: 0; }

.footericon{
  color:white;
  transition: .6s;
}
.iconholder{
    outline: 0 !important;
    color: #fff;
    border-radius: 100%;
    font-size: 26px;
    -webkit-transition: background-color .1s linear;
    transition: background-color .1s linear;
    height: 56px;
    line-height: 26px;
    width: 56px;
    text-align: center;
    padding: 15px;
    background: rgb(255,215,64);
    display: inline-block;
    transition: .6s;
}
.iconholder:hover .footericon{
  color:#212121 ;
}
.iconholder2{
  outline: 0 !important;
  color: #fff;
  border-radius: 100%;
  font-size: 26px;
  -webkit-transition: background-color .1s linear;
  transition: background-color .1s linear;
  height: 56px;
  line-height: 26px;
  width: 56px;
  text-align: center;
  padding-top: 15px;
  background: #455A64;
  display: inline-block;
  transition: .3s;
  text-align: center;
}
.iconholder2:hover{
  transform: scale(1.2);
  background: #607D8B;
}
/* ==========================================================================
Icon font (http://www.elegantthemes.com/blog/freebie-of-the-week/free-line-style-icons)
========================================================================== */


*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.techspecs{
color:white;
text-align; left;
font-size:15px;
text-transform: uppercase;
}

.techspecshead{
font-size: 24px !important;
text-transform: none !important;
margin-bottom:20px;
}

.noborder{
border:none !important;
}

.nobp{
padding-bottom:0px !important;
color:white !important;
}

.icontext{
display:inline;
text-transform: none !important;
color:black !important;
}
.abnavhead{
padding-left:15px;
display:block;
}
.navhead{
font-size:22px;
color:#3D5351;
font-weight:500;
}
.navsub{
font-size:15px;
color:#3D5351;
font-weight:500;
}
.abnavsub{
padding-left:30px;
display:block;
}
.abnav{
border-radius:4px;
padding-bottom:8px;
overflow:auto;
height:100%;
}
.abnavtitle{
border-bottom: 1px solid rgba(28, 54, 83, 0.6);
margin-top:5px;
padding-bottom:8px;
padding-left:5px;
font-size:35px !important;
}
.aboutnavpo{
padding-top:140px;
position:fixed;
padding-left:6px;
padding-right:14px;
max-height:90%;
visibility:visible;
height:100%;
}
.fanchors{
padding-top:100px;
margin-top:0px;
}
.headerfix{
position:absolute !important;
}
.smallnav{
display:none;
background-color:rgba(255,255,255, 0.95);
}
@media screen and (max-width: 991px){
.smallnav{display:block;}.abtext{padding-top:0px!important;}.abtop{visibility:visible !important;}.aboutnavpo{visibility:hidden;}.ffkvjhsdgzxfkvjhg div div div h1{margin-top:0px;}}

.abtext{
background-color:rgba(255,255,255, 0.92);
padding-top:120px;
}
.abtop{
visibility:hidden;
font-size:35px;
left:90%;
position:fixed;
bottom:0;float:right;
padding-right:15px;
}
.abnavtop{
color:#333;
float:right;
padding-right:10px;
}
.smallnavt{
  color:black;
}
.smallnavo:hover {
  border-bottom:2px solid #e2a43f;
}
.timeline-contentrm{
  position:relative;
}
.prf::after{
  content: "";
width:94%;
position:absolute;
bottom:0px;
left:3.5%;
-webkit-transform:translateX(-6px);
transform:translateX(-6px);
-ms-transform:translateX(-6px);
-o-transform:translateX(-6px);
    border-bottom:2px solid #c1e94f;
}
.prf, .prnf{
  position:relative;
}
.prnf::after{
  content: "";
width:94%;
left:3.5%;
position:absolute;
bottom:0px;
-webkit-transform:translateX(-6px);
transform:translateX(-6px);
-ms-transform:translateX(-6px);
-o-transform:translateX(-6px);
    border-bottom:2px solid #e9774f;
}
.fl{float:left}
.fr{float:right}
@media screen and (max-width:768px){
  .fl{float:right}
}
.fl, .fr{
  font-size: 12px;
}
.adsfga{
  background-color:#f1f1f1;
}
.bbbbb{
  height:100%;
  padding:0px;
}
.ffkvjhsdgzxfkvjhg{
  padding-top:90px;
}
.adsfga p{
  padding:0px;
  margin:0px;
}
.imga{
height:75px;
opacity: .5;
}
.topic{
  padding: 16px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color:white;
}
.mib{
  background-color:#e2a43f;
  color:white;
display:inline-block;
padding:8px;
font-size: 20px;
font-weight: 700;
width:30%;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
transition: .8s;
border-radius:16px;
}
.mib:hover{
padding:11px;
font-size: 23px;
font-weight: 700;
width:32%;
box-shadow: 0 5px 8px rgba(0,0,0,0.3), 0 5px 8px rgba(0,0,0,0.4);
transition: .8s;
color:white;
border-radius:24px;
opacity:.8;
}
.cs{
  opacity: .4;
  background-color:#9E6184;
  color:white;
display:inline-block;
padding:8px;
font-size: 22px;
font-weight: 700;
width:30%;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
transition: .8s;
border-radius:16px;
}
@media screen and (max-width: 600px){
  h1{
    margin-top:0px;
  }
  .mib{
    width:50%;
  }
  .mib:hover{
    width:55%;
  }
  .cs{
    width:75%;
  }
}
.fixed2 header{padding: 35px 0px !important;}
header div nav ul li a{padding-right:0px!important;margin-right:25px;}
header div nav ul li a.here{
  opacity: 1;
  border-bottom: 2px solid white;
  cursor: default;
}
.mmmman{
  margin-top:2vw;
}
p.titlefu{
  font-size:16px;
  margin:0;
  padding:0;
}
p.fu{
  font-size:14px;
  margin:0;
  padding:0;
  color:white;
  font-weight:500;
}
.mates{
  padding-top:30px;
  display:block;
}
.exchangeboxbox{
  padding:10px 30px;
  text-align:center;
}
.ngg{
  background-color:white;
  padding: 10px 30px;
  text-align: center;
}
@media screen and (min-width:768px){
  .col-ssm{
  width: calc(40% - 16px);
}}
@media screen and (min-width:992px){
  .col-smd{
  width: calc(20% - 16px);
}
}
.rmfb{
  position:relative;
}
.rmfb::before{
  content: "";
  width:100%;
  position:absolute;
  bottom:-1px;
  top:-2px;
  border-bottom:2px solid gray;
}
.CUH{
  font-size: 70px;
  font-weight:100;
  padding-left:0px;

}
.CUT{
  text-align:center;
  padding: 40px 0px;
}
.CUT::after{
  content: "";
width: 80%;
border-bottom: 1px solid gray;
position: absolute;
padding: 0;
left: 10%;
top:100%;
}
.CUTT{
  margin-right:10px;
}
.mib.b{display:none;}
.Contactusbody {
  background: linear-gradient(180deg,#c9d6ff,#dee6ff)
}
@media screen and (max-width: 991px){
  .cuimg{
    display:none;
  }
  .mib.b{
    display:inline-block;
  }
}
.cuiimg:hover
{
    -webkit-transform: scale(.75);
    -moz-transform: scale(.75);
    -o-transform: scale(.75);
    -ms-transform: scale(.75);
    transform: scale(.75);
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.3);
    border-radius:100%;

  }
.cuiimg{
  transition:.8s;
  width:180px;
  margin-top: 100px;
}
.subheadab{
  color:black;
  line-height:25px;
}
.exh{
  margin-top:0px;
   text-align:center;
}
.exchangeboxbox .exchangebox{
  float:none;
}
.wa.b,.bman{
  height:100%;
}
.exboxd::after, .bman::after{
  content: "";
width: 80%;
border-bottom: 1px solid gray;
margin:20px 0px 20px 10%;
display:block;
}
.dwnld{
  float:none;
}
.eximg{
  max-width:100%;
  height:60px;
}
div > h3 > a{
  display:block;
  margin:auto;
}
.sevenfive{
  width: 85%;
  float: left;
  transition:.8s;
}
#COMPS div{
  padding:0px;

}
.bmmm{
  min-height:270px;
}
.sevenfive span{
  padding: 2px 24px;
  width:100%;
  float: left;
  font-size:24px;
  transition:.8s;
}
 div.compprizediv{
  text-align:center;
  width: 15%;
  float: left;
  height:80%;
  transition:.8s;
}
.outer-div{
  width: 50%;
  margin-left: 25%;
  border-radius: 8px 8px 20px 20px;
  -webkit-border-radius: 8px 8px 20px 20px;
 -moz-border-radius: 8px 8px 20px 20px;
  margin-top: 32px;
  float: left;
  background: #1f1f1f;
  /*-webkit-box-shadow: -8px 12px 5px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -8px 12px 5px -5px rgba(0,0,0,0.75);
  box-shadow: -8px 12px 5px -5px rgba(0,0,0,0.75);*/
  -webkit-box-shadow: -8px 10px 5px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: -8px 10px 5px -6px rgba(0,0,0,0.75);
  box-shadow: -8px 10px 5px -6px rgba(0,0,0,0.75);
  color: white;
  transition: .8s;
  margin-bottom: 32px;
  -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-weight: 400;
}
.timecomp{
  width:100%;
  text-align:center;
  float:left;
  background: #f1f1f1;
  border-radius: 0px 0px 8px 8px;
  color:black;
}
.heyyy{
  padding: 140px 0;
}
.sevenfivet{
  float: left;
  background: white;
  width: 100%;
  margin: 0;
  padding: 9px 10px;
  white-space: pre-line;
  border-top-right-radius: 8px;
  /*-webkit-box-shadow: inset -7px 7px 5px -4px rgba(226,164,63,1);
  -moz-box-shadow: inset -7px 7px 5px -4px rgba(226,164,63,1);
  box-shadow: inset -7px 7px 5px -4px rgba(226,164,63,1);*/
  -webkit-box-shadow: inset -7px 7px 10px -5px rgba(226,164,63,1);
  -moz-box-shadow: inset -7px 7px 10px -5px rgba(226,164,63,1);
  box-shadow: inset -7px 7px 10px -5px rgba(226,164,63,1);
  line-height: 17px;
  font-weight: 400;
  min-height: 150px;
}
.logo a img{
  transition: .8s;
}
.compprizediv ol{
  padding-left: 16px;
}
@media screen and (max-width:844px){
  .outer-div{
    width:80%;
    margin-left:10%;
  }
}
@media screen and (max-width:490px){
  .outer-div{
    width:85%;
    margin-left: 7.5%;
  }
  .sevenfive{
    width:75%;
  }
  .sevenfivet{
    padding-left:16px;
  }
   div.compprizediv{
    width:25%;
  }
}
.right{
  display: block;
}
.right::before{
  content: "-";
}
@media screen and (max-width:419px){
  div > h3 > a {
    width: 50%;
}
}
/* Roadmap
*/
.roadmap{
  text-align:center;
  margin:auto;
}
.roadmapquarter{
      outline: 0 !important;
      color: #fff;
      border-radius: 100%;
      font-size: 26px;
      -webkit-transition: background-color .1s linear;
      transition: background-color .1s linear;
      height: 45px;
      line-height: 22.5px;
      width: 45px;
      text-align: center;
      padding: 12px;
      background: rgb(255,215,64);
      display: inline-block;
      position:absolute;
      z-index:998;
      top: 10px;
      left: calc(90% - 21px)
}
@media screen and (min-width:800px){
  .mdl-card.quartercard{
  width:60%;
  transition:.8s;
}}
div.procard1,div.procard2,div.procard3,div.procard4,div.procard5,div.procard6,div.procard7,div.procard8,div.procard9,div.procard10,div.procard11,div.procard12,div.procard13,div.procard14,div.procard15,div.procard16,div.procard17,div.procard18,div.procard19,div.procard20,div.procard21,div.procard22,div.procard23,div.procard24,div.procard25{
  width:100%;
  visibility:hidden;
}
.quartercard{
  margin:auto;
}
@media screen and (max-width:800px){
  .mdl-card.quartercard{
  width: 330px;
  transition:.8s;
}}
h2.mdl-card__title-text{
  width: 100%;
text-align: center;
display: block;

}
div.mdl-card__supporting-text{
  width:100%;
}
.mdl-progress{
  margin:auto;
}
.mdl-progress .progressbar{
  transition: 4s !important;
  width:0%;
}
.rmbq{
  height:48px;
  margin: 24px 0;
}
.exsep{
  height:45px;
  width:100%;
}
.exchangeinfol{
  padding-left:50px;
}
.exchangeinfor{
  padding-left:50px;
}
@media screen and (min-width:480px){
.exchangeinfol{
  border-left: 2px solid rgba(0,0,0,.1);
  padding-left:50px;
}
.exchangeinfor{
  border-right: 2px solid rgba(0,0,0,.1);
  padding-left:50px;
}}
@media screen and (max-width:479px){
  .exsep{
    background-color: rgba(0,0,0,.1);
    height:5px;
    }}
.exchange-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.exchange-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.5);
}
/* New ------------------------------------ */


.wallets_wrapper{
  padding: 16px;
  text-align: center;
  margin-top: 150px!important;

}
@media screen and (min-width:800px){
  .mdl-card.wallets_wrapper{
  width:60%;
  transition:.8s;
}}

.wallets_wrapper{
  margin:auto;
}
@media screen and (max-width:800px){
  .mdl-card.wallets_wrapper{
  width: 330px;
  transition:.8s;
}}
div.exchange-card-image.mdl-cell.eximg{
    background-repeat: no-repeat !important;
    min-height:150px !important;
    background-size:contain !important;
}
.walletbutton{
  margin:8px;
}
.walletLinux, .walletWindow, .walletAndroid{
  width: 100% !important;
}

.row .col.m6.wallets_card {
  margin-top: 118px;
  width: 90%;
    text-align:center;
}

.tabs .tab a {
  color: #455A64 !important;
  z-index: 1000;
}

.tabs .tab a:hover {
  color: #e2a43f !important;
}
.tab .fa{
  padding-right:8px;
}
.indicator {
  background-color: #455A64 !important;
}
.col.s12.m5.card{
  background-color:#607d8b;
}
.card-content {
  text-align: center !important;

}

.light {
  text-align: center !important;
}

.wallets_card_content {
  margin-left: 25%;

}
